[submodule "modules/aw_categorytree"]
	path = modules/aw_categorytree
	url = git@github.com:axel-paillaud/aw_categorytree.git

[submodule "modules/applicationperiod"]
	path = modules/applicationperiod
	url = git@github.com:axel-paillaud/applicationperiod.git
[submodule "modules/aw_mainmenu"]
	path = modules/aw_mainmenu
	url = git@github.com:axel-paillaud/aw_mainmenu.git
[submodule "modules/aw_truncatehtml"]
	path = modules/aw_truncatehtml
	url = git@github.com:axel-paillaud/aw_truncatehtml
[submodule "modules/aw_deliveryreassurance"]
	path = modules/aw_deliveryreassurance
	url = git@github.com:axel-paillaud/aw_deliveryreassurance
[submodule "aw_searchbar"]
	path = aw_searchbar
	url = git@github.com:axel-paillaud/aw_searchbar.git
[submodule "modules/aw_searchbar"]
	path = modules/aw_searchbar
	url = git@github.com:axel-paillaud/aw_searchbar.git
[submodule "modules/aw_imageslider"]
	path = modules/aw_imageslider
	url = git@github.com:axel-paillaud/aw_imageslider.git
[submodule "modules/aw_homereassurance"]
	path = modules/aw_homereassurance
	url = git@github.com:axel-paillaud/aw_homereassurance.git
