[submodule "modules/aw_categorytree"]
	path = modules/aw_categorytree
	url = git@github.com:axel-paillaud/aw_categorytree.git

[submodule "modules/applicationperiod"]
	path = modules/applicationperiod
	url = git@github.com:axel-paillaud/applicationperiod.git
[submodule "modules/aw_mainmenu"]
	path = modules/aw_mainmenu
	url = git@github.com:axel-paillaud/aw_mainmenu.git
[submodule "modules/aw_truncatehtml"]
	path = modules/aw_truncatehtml
	url = git@github.com:axel-paillaud/aw_truncatehtml
[submodule "modules/aw_deliveryreassurance"]
	path = modules/aw_deliveryreassurance
	url = git@github.com:axel-paillaud/aw_deliveryreassurance
